*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');

/*Menu de la pagina  */

.menu {
    background-color: #1A202C;
    color: #fff;
    height: 50px;
    width: 100%;
    position: fixed;
    font-size: 20px ;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu__links{
    height: 100%;
    transition:  transform .5s;
    display: flex;
}

.menu__item {
    list-style: none;
    position: relative;
    height: 100%;
}
.menu__link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
    transform: translate(20px);
    transition: all 1.5s ease-out;
    transition-delay: 2.s;
}
.menu__link:hover, .menu__link:focus{
    background-color: #5e7094;
    color: #fff;
}

.menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img {
    display: block;
    width: 36px;
}
/* Imagen de portada */

.imagen__portada{
    width: 100%;
    height: 600px;
}
/* TITULO  */
h1{
    text-align: center;
    min-width: 200px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

/* informacion de la empresa  */

h2{
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
    color:rgb(14, 25, 108);
}
.informacionEmpresa{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border: 1px solid blue;
    margin-top: 30px;
}
.imagen1{
    width: 100%;
    height: 400px;
}
.informacionEmpresa > p{
    font-size: 20px;
    margin: 30px;
    margin-top: 70px;
}

/* Servicios de la pagina */
.iconos {
    width: 70px;
}

.servicios__container{
    width: 100%;
    height: 900px;
    background-color: #394254;
}
.servicio__contenido{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}
.servicios{
    width: 400px;
    height: 350px; 
    margin-top: 50px;
    color: white;
}
.servicios{
    transition-property: var(--background);
    transition-duration: 6s;
    transition-delay: 2s;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 16px -6px #000000;
    color: black;
}
.servicios > .iconos {
    display: grid;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 200px;
}
.servicios > p {
    text-align: center;
    margin: 30px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

/* PROYECTOS DE LA PAGINA */

.imagen__proyectos{
    width: 401px;
    height: 230px;
    border-radius: 25px;
}
.proyecto__container{
    width: 100%;
    height: 600px;
    display: flex;
    background: #edefef;
}
.proyecto{
    width: 32%;
    height: 500px;
    border: 1px solid black;
    background: rgb(62,77,168);
    background: linear-gradient(195deg, rgba(62,77,168,1) 19%, rgba(38,84,199,1) 86%);
    color: white;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 30px;
}
.proyecto > h3 {
    font-size: 24px;
    text-align: center;
    margin: 10px;
    color: #fff;
    border-bottom: 1px dashed black;
}
.proyecto > .lista {
    list-style:none;
    margin: 10px;
    font-size: 18px;
}
.lista > li {
    margin-top: 30px;
}

/* Nuestros Clientes */

.imagen__clientes {
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.clientes__container{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.clientes-contenedor{
    width: 100%;
    display: flex;
}
.clientes__slider{
    width: 100%;
    height: 400px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid black;
    background-color: #394254;
}
.clientes__slider > .imagen__clientes{
    border-radius: 50%;
    border: 2px solid black;
    margin: 100px;
}
.clientes__slider > p {
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-align: center;
    margin-right: 100px;
}

/* Preguntas frecuentes*/

.questions{
    text-align: center;
}

.questions__container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions__padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454D4;
    border-radius: 6px;
}

.questions__padding--add{
    padding-bottom: 30px;
}

.questions__answer{
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title{
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions__arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition:  transform .3s;
}

.questions__arrow--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    height: 0;
    transition: height .3s;
    font-size: 20px;
}

.questions__img{
    display: block;
}

.questions__copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

@media screen and (max-width: 600px){
    /*Menu de la pagina  */
    body{
        margin: 0 auto;
    }
    .menu{
        width: 100%;
        margin: 0 auto;
    }
    .menu__hamburguer{
        display: flex;
    }
    .menu__links{
        position: fixed;
        max-width: 350px;
        width: 100px;
        top: 50px;
        right: 0;
        background-color: #1A202C;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }
    .menu__links--show {
        transform: unset;
        width: 100%;
    }
    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }
    h1{
        font-size: 16px;
    }

    /*Imagen de portada*/
    .imagen__portada{
        width: 500px;
        height: 370px;
    }
    /* TITULOS */
    h2{
        font-size: 30px;
        text-align: center;
    }
    /* informacion de la empresa  */
    .informacionEmpresa{
        width: 500px;
        display: block;
        margin-top: 30px;
        margin: 0 auto;
    }
    .informacionEmpresa > p{
        font-size: 14px;
        margin-top: 20px;
    }

    /*Servicios de la empresa */
    .iconos {
        width: 40px;
    }
    
    .servicios__container{
        width: 100%;
        height: 100%;
    }
    .servicio__contenido{
        display: flex;
        flex-direction: column;
    }
    .servicios{
        margin-bottom: 25px;
    }

    /* Proyectos*/
    .imagen__proyectos{
        width: 100%;
        border-radius: 25px;
    }
    .proyecto__container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .proyecto{
        width: 70%;
        height: 500px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /* SECCION CLIENTES */

    .imagen__clientes {
        width: 250px;
        height: 150px;
        object-fit: cover;
    }
    .clientes-contenedor{
        width: 100%;
        display: flex;
    }
    .clientes__slider > .imagen__clientes{
        margin: 20px;
    }
    .clientes__slider > p {
        display: block;
        text-align: left;
        font-size: 15px;
    }
    /* PREGUNTAS*/


}